
  <div class="card_app_wrapper">
    <div class="card_app_header">
      <div class="card_main_text_wrapper is-centered"><img src="../images/bitcoin.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 512px, (max-width: 930px) 55vw, 512px" srcset="../images/bitcoin-p-500.png 500w, ../images/bitcoin.png 512w" alt="" class="card_main_crypto_icon">
        <div class="text-size-large text-weight-medium">Bitcoin</div>
        <div class="text-size-large text-color-secondary">BTC</div>
      </div>
      <div class="card_main_text_wrapper is-centered">
        <div class="card_app_price">$86,716</div>
        <div class="text-size-regular text-color-green">$86,716</div>
      </div>
    </div>
    <div class="card_app_chart_wrapper"><img src="../images/Screenshot-2025-12-18-130945.png" loading="lazy" alt="" class="card_app_chart_image"></div>
  </div>
